body {
    margin: 0;
    padding: 0;
}


/*working on navbar*/
nav {
    background-color: #1F2937
}


nav {
    display: flex;
    justify-content: space-around;
}


.nav-ul {
  display: flex;
   gap: 50px;
   list-style: none;
   align-items: center;
}


.nav-ul a{
    text-decoration: none;
    color: white
}


.nav-ul li {
    font-size: 25px;
    
}


.nav-ul a:hover{
    color: rgb(187, 255, 0);
    transition: 0.2s;
}


.logo {
    cursor: pointer;
}

/*working on middle content*/

.content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1F2937;
padding: 60px;
    
}


.content img {
    cursor: pointer;
    object-fit: cover;
}


.board {
    color: white;
 }
 

 .board p {
     color: gray;
     font-weight: bold;
     font-size: 25px;
     cursor: pointer;
 }


 .board h1 {
    font-size: 45px;
}


.board button {
    width: 170px;
    height: 50px;
    background-color: #3882f6;
    color: white;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}


.board p:hover {
    color: white
}


.board button:hover {
    width: 180px;
    height: 55px;
    background-color: #4c00ff;
    color: springgreen;
    font-size: 21px;
    transition: 0.3s;

}


/*next section*/
.type {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
   color: green;
   text-shadow: -1px 1px 0 #000, 
   1px 1px 0 #000, 
  1px -1px 0 #000, 
 -1px -1px 0 #000; 
}

.image-fold .b {
    margin: 0;
    padding: 0;
}

.image-fold {
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 30px;
}

.image-fold img{
    object-fit: cover;
    border: 2px solid black;
    cursor: pointer;
    
}

.b p {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

/*next section vol2*/

.comment {
    background-color: #d0d9ec;
    padding: 10px;
    margin-top: 30px;
  
}


.comment h1 {
    color: #1F2937;
    font-weight: bold;
    text-align: center;
}


.comment p {
    text-align: end;
    margin-right: 80px;
    font-weight: bold;
    font-size: 20px;
}

/*next section vol3*/
.box1 {
    display: flex;
    justify-content: center;
}

.box {
    background-color: #3882F6;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    width: 1400px;
    margin-top: 50px;
}

.box h1 {
    color: white;
    font-weight: bold;

}

.box h3 {
    color: #ffffffcc;
}

.btn {
    background-color: #3882F6;;
    color: white;
    width: 150px;
    height: 50px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;

}


.btn:hover {
    background-color: white;
    color: black;
}

/*footer*/
footer {
    margin-top: 50px;
 background-color:  #1F2937;
 text-align: center;
padding: 10px;
color: white;
}